bin/
obj/
*.user
*.suo
*.userprefs
*.csproj.user
*.fsproj.user
*.dbmdl
*.log
.vs/
.idea/
*.swp

# Node / Fable
node_modules/
fable_modules/
*.fs.js
*.fs.js.map
dist/
/src/FameBoy.Web/FameBoy.Web.fable-temp.csproj

BenchmarkDotNet.Artifacts/

.obsidian/

.DS_Store
